h1 {  text-align: center;
    text-shadow: 5px 2px 5px blue;
    font-size: 60px;
}
#questions{
    display: none;
    padding: 5%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    text-align: center;
    box-shadow: 5px 2px 5px blue;
    border: solid black;
    border-radius: 5px;
    border-color: blue;
}

button{
    color: black;
    box-shadow: 5px 2px 5px blue;
    border: solid black;
    border-radius: 5px;
    border-color: blue;
    width: 5rem;
    height: 2rem;
}

#link {
    text-decoration: none;
    color: black;
}

#reset-btn {
    display: none;
}

#submit-btn {
    display: none;
}

#button-holder {
    padding-top: 1%;
    margin-left: 45%;
    margin-right: 45%;
    text-align: center;
}

#game-container {
    padding-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}
#exampleModal {
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    text-align: center;
    color: blue;
    font-size: 50px;
    text-shadow: 5px 2px 5px blue;

}